.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 183, 183);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    height: 600px;
    width: 350px;
    background: #1a1a1a;
    border-radius: 15px;
    gap: 20px;
    color: #fff;
    position: relative;
}

.card .img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.card .img.ativado{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 1em;
    cursor: pointer;
    transition: all ease 0.5s;
}

.cardConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.cardConteudo h2{
    color: rgb(216, 195, 2);
    font-size: 15px;
}

.cardConteudo button{
    width: 300px;
    height: 40px;
    border-radius:10px;
    border: none;
    background: #494949;
    margin: 0.8em;
}

.cardConteudo button a{
    color: #fff;
    font-size: 18px;
}

.cardConteudo button a:hover{
    color: #dfd10c;
    font-size: 18px;
    transition: all ease 0.5s;
}